.git
.idea

code-app/.env
code-app/node_modules/
code-app/vendor/

src/storage/logs/**
src/storage/app/public/**
src/storage/proxies/**
src/storage/framework/cache/**
src/storage/framework/sessions/**
src/storage/framework/views/**

code-app/public/css/**
code-app/public/js/**

**Thumbs.db